/*
* @Author: Jiang Guoxi
* @Date:   2016-08-02 11:42:55
* @Last Modified by:   Jiang Guoxi
* @Last Modified time: 2016-08-02 11:43:51
*/
/* line 168, index/*.png */
.index-sprite, .index-baoxian, .index-car, .index-company, .index-data, .index-huasheng, .index-note, .index-plan, .index-platform, .index-ppt, .index-remind, .index-star, .index-sykes, .index-todo, .index-tongwei, .index-tower, .index-zhongjing {
  background-image: url('/images/index-s34a6b3dfeb.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.index-baoxian {
  background-position: 0 -706px;
}

/* line 84, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.index-car {
  background-position: 0 -554px;
}

/* line 84, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.index-company {
  background-position: 0 -1692px;
}

/* line 84, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.index-data {
  background-position: 0 -2298px;
}

/* line 84, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.index-huasheng {
  background-position: 0 -404px;
}

/* line 84, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.index-note {
  background-position: 0 -1490px;
}

/* line 84, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.index-plan {
  background-position: 0 -1288px;
}

/* line 84, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.index-platform {
  background-position: 0 -884px;
}

/* line 84, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.index-ppt {
  background-position: 0 -1894px;
}

/* line 84, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.index-remind {
  background-position: 0 -1086px;
}

/* line 84, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.index-star {
  background-position: -196px -404px;
}

/* line 84, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.index-sykes {
  background-position: 0 -80px;
}

/* line 84, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.index-todo {
  background-position: 0 -2096px;
}

/* line 84, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.index-tongwei {
  background-position: 0 0;
}

/* line 84, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.index-tower {
  background-position: 0 -280px;
}

/* line 84, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.index-zhongjing {
  background-position: 0 -174px;
}
