<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>flex布局</title>
  <style>
  .container {
    display: flex;
    flex-direction: row;
  }
  .container > div {
    height: 50px;
  }
  .left {
    flex: auto;
    background: #f66;
  }
  /* .center {
    width: 30%;
    background: #233; 
  } */
  .right {
    width: 20%;
    background: #fcc;
  }
  </style>
</head>
<body>
  <div class="container">
    <div class="left">
      
    </div>
    <div class="center">
      
    </div>
    <div class="right">
      
    </div>
  </div>
</body>
</html>